@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300&display=swap');

.btn-green{
  background-color: #73A942;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
}
.btn-green:hover{
  color: black;

}
